.container-fluid
  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#secondary-navigation' } }
      %span.sr-only= t('admin.toggle_navigation')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.pjax{href: dashboard_path}
      = _get_plugin_name[0] || 'Rails'
      %small= _get_plugin_name[1] || 'Admin'
  .collapse.navbar-collapse#secondary-navigation
    %ul.nav.navbar-nav
      - if RailsAdmin::Config.custom_navigation_partial && RailsAdmin::Config.custom_navigation_partial.blank? == false
        -#= raw(render file: RailsAdmin::Config.custom_navigation_partial)
        - erb = ERB.new(File.read(RailsAdmin::Config.custom_navigation_partial),trim_mode: "", eoutvar: "@html_data")
        - @html_data = ""
        - erb.run(binding)
        = raw(@html_data)
      - else
        = static_navigation
        = root_navigation
        = main_navigation

      = render partial: 'layouts/rails_admin/secondary_navigation'
