!!! 5
%html{lang: I18n.locale}
  %head
    = render "layouts/rails_admin/head"
  %body.rails_admin
    #admin-js{:'data-i18n-options' => I18n.t("admin.js").to_json}
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top
      = render "layouts/rails_admin/navigation"
    .container-fluid
      .row
        .col-sm-12.col-md-12
          .content{:'data-pjax-container' => true}
            = render template: 'layouts/rails_admin/pjax'
